:root {
  --main-background: #cb997e50;
  --form: #6b705c;
  --button-color: #cb997e;
  --button-border: #ffe8d6;
}

html,
body {
  height: 100%;
  margin: 0;
  background-color: var(--main-background);
}
/* Whole page container */
.page-container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

/* Left side w/ bg image & site title w/ backdrop */
.sidebar {
  background-image: url(./assets/images/plants.jpg);
  background-size: cover;
  min-width: 30vw;
}

/* Site Title */
.title {
  display: flex;
  width: auto;
  justify-content: center;
  margin-top: 20vh;
  background-color: #ffffff70;
}

.content-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.heading {
  display: flex;
  height: 20%;
  justify-content: center;
  align-items: center;
}

/* Green backdrop for the form w/ buttons */
.form-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  min-height: 40%;
  background: var(--form);
}

.form-container {
  min-width: 60vw;
}

/* The actual input form */
form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #fff;
  border: 10px double #bec3af;
  padding: 25px;
}

label {
  display: block;
  padding: 5px;
  color: var(--form);
}

input {
  display: inline-block;
  margin: 0 5px;
  height: 50px;
  width: 90%;
  border: 1px solid black;
  font-size: 22px;
}

/* Create Account & Login Buttons */
.buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 25px;
}
