:root {
  --main-background: #cb997e50;
  --form: #6b705c;
  --button-color: #cb997e;
  --button-border: #ffe8d6;
}

html,
body {
  height: 100%;
  margin: 0;
  background-color: var(--main-background);
}
/* Whole page container */
.page-container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

/* Left side w/ bg image & site title w/ backdrop */
.sidebar {
  background-image: url(./assets/images/plants.jpg);
  background-size: cover;
  min-width: 30vw;
}

/* Site Title */
.title {
  display: flex;
  width: auto;
  justify-content: center;
  margin-top: 20vh;
  padding: 20px 0;
  background-color: #00000085;
}

.title h1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: lighter;
  color: #fff;
}

.content-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.heading {
  display: flex;
  height: 20%;
  justify-content: center;
  align-items: center;
}

.heading p {
  font-size: 24px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0 6em;
}

/* Green backdrop for the form w/ buttons */
.form-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 40%;
  background: var(--form);
  border-top: 6rem solid #00000035;
  border-bottom: 6rem solid #00000035;
  background-clip: content-box;
  filter: drop-shadow(0px 4px 4px #00000050);
}

.form-container {
  padding: 40px 0;
  min-width: 60vw;
}

/* The actual input form */
form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #fff;
  border: 10px solid #bec3af;
  padding: 25px;
  filter: drop-shadow(0px 4px 4px #00000050);
}

label {
  font-size: 16px;
  text-transform: uppercase;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: block;
  padding: 5px;
  color: #000;
}

input {
  display: inline-block;
  margin: 0 5px;
  height: 50px;
  width: 90%;
  border: 1px solid black;
  font-size: 22px;
}

/* Create Account & Login Buttons */
.buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
}

#create-account {
  height: 55px;
  width: 200px;
  font-size: 16px;
  padding: 4px;
  background-clip: content-box;
  text-transform: uppercase;
  color: #fff;
  background-color: var(--button-color);
  border: 2px solid var(--button-border);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  letter-spacing: 1.5px;
}

#login {
  height: 55px;
  width: 200px;
  font-size: 16px;
  text-transform: uppercase;
  background-color: #fff;
  color: var(--form);
  border: 0px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  letter-spacing: 1.5px;
}
